/*FONTS ************************/

@font-face {
  font-family: Inconsolata;
  src: url(Inconsolata/static/InconsolataCondensed-Light.ttf);
}

@font-face {
  font-family: Inconsolata2;
  src: url(Inconsolata/static/InconsolataCondensed-Medium.ttf);
}

@font-face {
  font-family: Spectral;
  src: url(Spectral_SC/SpectralSC-ExtraLightItalic.ttf);
}
/*****************************/

body{
    display: flex;
    justify-content: center;
    background: repeating-linear-gradient(
    45deg,
    #f4d37a,
    #f4d37a 10px,
    #f8e5c4 10px,
    #f8e5c4 20px
);
}

h1 {
  font-family: Inconsolata2;
}

#main-title{
  font-size: 50px;
  font-family: Spectral;
  color: #00040a;
  display: flex;
  justify-content: center;
}

#mytitle{
  font-family: Spectral;
  margin: 35px;
}

#container{
  position: relative;
  top: 100px;
  width: 600px
}

#hero-image {
  display: flex;
  justify-content: center;
}

#hero-image img {
  width: 250px;
  height: 250px;
}

#content-box{
  background: #FFF;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 6px 6px 6px 3px rgba(0, 0, 0, .05);
  font-family: Inconsolata;
  font-size: 25px;

}

ul {
  position: relative;
  margin: 40px;
  list-style-type: none;
  padding: 0px;
  display: flex;
  justify-content: center;
}

li {
  margin: 15px;
}

a {
  font-size: 25px;
  font-family: Inconsolata;
  text-decoration: none;
  padding: 5px;
  color: #00040a;
}

a:hover{
  background: #abe5b4;
  color: #000;
}

#slider {
  overflow: hidden;
}
#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}
#slider figure img {
   width: 20%;
   float: left;
}

@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}
